<navbar></navbar>

<header class="hero-unit" id="banner">
  <div class="container" ng-hide="isLoggedIn()">
    <h1>DaBLar Voting App</h1>
    <p class="lead">Using yeoman Angular Fullstack...</p>
    <img src="assets/images/panda.png" alt="I'm Vote Panda">
  </div>
  
  <div class="container" ng-show="isLoggedIn()">
    <h1>Dashboard</h1>
    <p class="lead">What would you like to do today?</p>
    <button class="btn btn-lg btn-success" ng-click="setPage('createPoll')">New Poll</button>
    <button class="btn btn-lg btn-primary" ng-click="setPage('myPolls')">My Polls</button>
  </div>
</header>


<!-- LOAD ALL MY POLLS -->
<div class="container" ng-show="isLoggedIn() && isPage('myPolls')" >
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <h2>Polls</h2>
      <ul class="list-group"><!-- ngRepeat: poll in polls -->
        <li class="list-group-item" id="{{poll._id}}}" ng-repeat="poll in polls" ng-click="">{{poll.question}}
          <button class="btn" ng-click="deletePoll(poll._id)">Delete</button>
          <a href="/{{poll._id}}">See</a>
        </li><!-- end ngRepeat: poll in polls -->
      </ul>
    </div>
  </div>
</div>


<!-- CREATE POLL -->
<div class="container" ng-show="isLoggedIn() && isPage('createPoll')" >
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <p class="bg-info" ng-show="pollCreatedMsg">There is your new poll link: <a href="{{pollCreatedMsg}}">{{pollCreatedMsg}}</a></p>
      <h2>New Poll</h2>

      <form class="poll-form" ng-submit="addPoll()" name="newPoll" novalidate>
        <label>Question:</label>
        <input class="form-control" type="text" ng-model="newPoll.question" required/>
        <h2>Options</h2>
        <input class="form-control" type="text" ng-model="newPoll.pollOptions[$index].optionText" ng-repeat="n in optionPlaceholders track by $index" placeholder="{{n}}" required/>
        <button type="button" ng-click="addOption()" class="btn btn-default">More Options</button>
        <input class="btn btn-primary" type="submit" ng-disabled="newPoll.$invalid" value="Post">
      </form>
    </div>
  </div>
</div>


<footer></footer>
